[Unit]
Description=dynamic domain name server updater
After=network.target

[Service]
Type=simple
StandardOutput=journal
ExecStart=/home/@user/.config/ddnsu/run.sh

[Install]
WantedBy=default.target
